@import '../../mixin.scss';

.Home {
  // set div's container
  height: 100vh;
  width: 100%;
  // div 置中
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(141.11deg, rgba(7, 51, 88, 0.4) 9.39%, #073358 70.4%);
  background-blend-mode: darken;
  // background-image: linear-gradient(to right, #373b44, #4286f4);
  color: #fff;
  @include respond(iphoneXR) {
    height:var(--view-height);
  }
  @include respond(iphoneSE) {
    height:var(--view-height);
  }
  &__form {
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
    @include respond(ipad){
      width: 90%;
      grid-column-gap: .5rem;
    }
    @media(max-width:550px) {
      width: 100%;
    }
    @include respond(iphoneXR) {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
    }
  }

  .date {
    width: 100%;
    
    font-size: .9rem;
    font-weight: 500;
   
    @include respond(iphoneXR){
      height: 50%;
      margin-top:.4rem;
    }
    @include respond(iphoneSE){
      margin-top:1rem;
    }
    // .dateSpanDiv{
    //   width: 100%;

    // }
    .dateSpan {
      // font-size: .9rem;
      margin-top: 1.7rem;
      margin-left: 1.5rem;
      z-index: 2;

      font-family: 'EB Garamond', serif;
      font-size: 1.2rem;
    
      &__AT {
        @include respond(tab-port) {
          margin-top: 1rem;
        }
        @include respond(iphoneXR) {
          margin-top: 1.7rem;
        }
        @include respond(iphoneSE) {
          margin-top: 1.5rem;
        }
      }
      &__num {
        @extend .dateSpan;
        font-size: 1.7rem;
        margin-left: 1rem;
        margin-top: 1.1rem;
        @include respond(tab-port) {
          font-size: 1.7rem;
          margin-left: .5rem;
        }
      }

    }

    display: flex;
    flex-direction: column;
    justify-content: center;

    & div {
      width: 100%;
      margin-bottom: 10px;
    }

    input {
      display: none;
    }

    input:checked+label {
      // background-color: #57534e9e;
      // background: linear-gradient(234.41deg, #FAF7E0 2.56%, #809BAB 59.95%, #4F7595 100.95%);
      background-image: url(./background.png);
      background-size: cover;
      height: 13rem;
      @include respond(iphoneXR){
        height: 10rem;
      }
      @include respond(iphoneSE){
        // height: 8rem;
      }
    }

    &__btn,
    &__btn:visited {
      border: none;
      height: 5rem;
      background-image: url(./background.png);
      background-size: cover;
      // background-image: linear-gradient(to right top, #4683b9f6, #c9ceb2f3,#ffee9af6),url(../../../public/Vector.png);
      // background: linear-gradient(231.36deg, #FFFFFF -12.66%, #F4F2D8 25.75%, #79A1C2 100%);
      // background-color: rgba(144, 143, 143, 0.449);
      color: #073358;
      border-radius: 25px;
      cursor: pointer;
      margin-bottom: .5rem;
      display: flex;
      position: relative;
      @include respond(iphoneXR){
        margin-bottom: 0;
      }
      

    }

    .sunAnimation {
      position: absolute;
      top: -10%;
      left: 0%;
      height: 300px;
      width: 300px;
      @media(max-width:1180px) {
        // font-size: 12px;
        top: -5%;
        height: 250px;
        width: 250px;
      }
      @include respond(small-desktop) {
        top: 0;
        left: -5%;
        height: 220px;
        width: 220px;
      }
      @include respond(small-tab-port) {
        top: 10%;
        height: 200px;
        width: 200px;
      }
      @include respond(iphoneXR){
        top: 0;
        left:13%;
        height: 200px;
        width: 200px;
      }
    }
  }

  .right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width:550px) {
      width:90%
    }
    @media(max-width:480px) {
      width: 70%;
    }
    @include respond(iphoneXR){
      width:100%;
      margin-top:.5rem;
      z-index: 2; //ater tomorrow's animation too large, so when you pick location might click on animation.
    }
    @include respond(iphoneSE){
      margin-top:.5rem;
    }
  }

  .area {
    display: flex;

    ion-icon {
      font-size: 2rem;
      color: #FFFBA5;
    }

    // justify-content:flex-start;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 15px;
    &__input {
      &:first-of-type {
        margin-right: 1rem;
      }
      height:2rem;
      width:7rem;
      background-color: white;
      color:black;
      border-radius:12px;
      font-size: 1rem;
    }
  }

  .inbox {
    margin-top: 2rem;
    border: .15rem solid rgb(173, 173, 173);
    border-radius: 12px;
    padding: 1rem 2rem;
    // background-color: olivedrab;
    @include respond(tab-port) {
      padding: 1rem 1.5rem;
    }

    @include respond(small-tab-port) {
      padding: 1rem 1rem;
    }
    @include respond(iphoneXR){
      margin-top:1rem;
    }
  }

  .setTime {
    // display: grid;
    // grid-template-rows: min-content min-content min-content;
    // grid-template-columns: 1fr 1fr;
    // grid-gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__div{
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include respond(iphoneSE){
       margin-top:-1rem;
      }
    }
    @include respond(ipad){
      display:flex;
      flex-direction: column;
    }
    @include respond(iphoneXR){
      display:flex;
      flex-direction: column;
    }
   
    
    &__text {
      margin-right: 1rem;
      @media(max-width:1165px) {
        // font-size: 12px;
      }
      @media(max-width:1080px) {
        margin-right: .5rem;
      }
      @include respond(small-desktop) {
        font-size: 14px;
      }

      @include respond(tab-port) {
        font-size: 13px;
      }
      @media(max-width:820px) {
        font-size: 12px;
      }
      @include respond(ipad) {
        font-size: 12px;
      }
      @include respond(iphoneXR){
        font-size: 14px;
      }
     
    }

    &__Input {
      height: 2rem;
      width: 7rem;
      background-color: white;
      color: black;
      border-radius: 12px;
      font-size: 1rem;

      @media(max-width:1165px) {
        height: 2rem;
        width: 7rem;
      }
      
      @include respond(small-desktop) {
        height: 2rem;
        width: 6rem;
      }
      @media(max-width:920px) {
        width: 5.5rem;
      }
      @include respond(tab-port) {
        height: 2rem;
        width: 5rem;
      }
      @media(max-width:820px) {
        width: 4.5rem;
      }
      @include respond(iphoneXR){
        height: 2rem;
        width: 6rem;
      }
    }


  }
}



.TimeValidateText {
  //error color still need change
  // margin-left: .8rem;
  display: inline-block;
  color: rgb(230, 29, 29);
  @include respond(iphoneXR){
    margin-top: -.4rem;
  }
}
.trafficText{
  @include respond(iphoneXR){
    margin-top: .1rem;
  }
}
.traffic {
  display: flex;
  justify-content: space-evenly;
   @include respond(iphoneSE){
    margin-top: -.8rem;
  }
  //icon's default setting
  ion-icon {
    // color: rgb(144, 143, 143);
    color: white;
    font-size: 40px;
  }

  //let radio disappear
  input {
    display: none;
  }

  //when icon is checked, change icon's color to white
  input:checked+label ion-icon {
    // color: #fff;
    color: #FFFBA5;
  }
}


.subbmit {
  display: flex;
  justify-content: center;

  &__btn {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 3.5rem;
    background-color: #60a5faa5;
    color: #fff;
    border: none;
    border-radius: 5rem;
    width: 50%;
    height: 3rem;
    cursor: pointer;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .2);
    @include respond(small-desktop) {
      margin-top: 2.8rem;
      font-size: .8rem;
    }
    @include respond(small-tab-port) {
      width: 60%;
    }
    @include respond(iphoneXR){
      margin-top:.8rem;
      width: 80%;
    }
    &:hover {
      background-color: #418de9a5;
    }

    &:active {
      transform: translateY(3px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    }

    &:disabled {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }

  }

}