.App{
  position: relative;
}
.logoDiv{
  position:absolute;
  top:1.5rem;
  left:5rem;
  z-index: 1;
  display:flex;
  align-items: center;
  &__img{
    width:40px;
    height:40px;
    margin-right: .6rem;
  }
  &__span{
    color:white;
    font-size: 20px;
    font-weight: 700;
    font-family: "Times New Roman";
  }
}