@import '../../mixin.scss';

.result {
  height: 100vh;
  width: 100%;

  background: linear-gradient(141.11deg, rgba(7, 51, 88, 0.4) 9.39%, #073358 70.4%);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(iphoneXR) {
    flex-direction: column;
    height: var(--view-height);
  }

  @include respond(iphoneSE) {
    height: var(--view-height);
  }

  &__left {
    color: white;
    text-align: center;
    width: 30%;
    height: 85%;
    display: grid;
    grid-template-rows: 30% 20% 16% 16% 16%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "sun sun"
      "outTemp backTemp"
      "avgTemp avgTemp"
      "avgTempDiff avgTempDiff"
      "pop pop";

    @include respond(small-desktop) {
      width: 25%;
    }

    @include respond(iphoneXR) {
      margin-top: 1rem;
      width: 90%;
      height: 30%;
      grid-template-rows: repeat(5, 20%);
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-areas:
        "sun sun avgTemp avgTemp"
        "sun sun avgTempDiff avgTempDiff"
        "sun sun pop pop"
        "outTemp outTemp backTemp backTemp"
        "outTemp outTemp backTemp backTemp"
    }



    .sun {
      grid-area: sun;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      &__up {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &__temp {
          color: white;
          font-size: 2rem;

          @include respond(small-tab-port) {
            font-size: 1.5rem;
          }

          @include respond(ipad) {
            font-size: 1.5rem;
          }

          @include respond(iphoneXR) {
            font-size: 1.7rem;
          }
        }
      }

      &__down {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;

        @media(max-width:685px) {
          flex-direction: column;
        }

        @include respond(iphoneXR) {
          font-size: 1rem;
        }

      }
    }

    .weatherAnimation {
      height: 100px;
      width: 100px;

      @include respond(ipad) {
        height: 80px;
        width: 80px;
      }

    }

    .outTemp {
      grid-area: outTemp;
    }

    .backTemp {
      grid-area: backTemp;
    }

    .avgTemp {
      grid-area: avgTemp;
    }

    .avgTempDiff {
      grid-area: avgTempDiff;
    }

    .pop {
      grid-area: pop;
    }

  }

  .lilcontainer {
    display: table; //搭配display:tabel-cell使span置中
    background: rgba(7, 51, 88, 0.4);
    border-radius: 20px;
    margin: .6rem;

    @include respond(iphoneXR) {
      margin: .3rem;
    }

    &__smallText {
      @include respond(ipad) {
        font-size: .9rem;
      }

      @media(max-width:550px) {
        font-size: .8rem;
      }

      @include respond(iphoneXR) {
        font-size: .9rem;
      }
    }

    &__bigText {
      font-size: 1.3rem; //選擇前兩個字體放大

      @include respond(ipad) {
        font-size: 1.1rem;
      }

      @media(max-width:550px) {
        font-size: 1rem;
      }

      @include respond(iphoneXR) {
        font-size: 1.3rem;
      }

    }

    &>* {
      display: table-cell; //搭配display:table 使lilcontainer內的span置中
      vertical-align: middle;
    }


  }

  &__right {
    width: 60%;
    height: 85%;
    display: flex;
    align-items: center;

    @include respond(desktop) {
      width: 70%;
    }

    @include respond(iphoneXR) {
      width: 90%;
      height: 70%;
      margin-top: 1rem;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @include respond(iphoneSE) {
      margin-top: 0;
    }

    &__imgdiv {
      display: flex;

      @media(max-width:650px) {
        flex-direction: column;

        margin: 0 2rem;
      }

      @media(max-width:550px) {
        margin: 0 .5rem;
      }

      @include respond(iphoneXR) {

        margin: 0 1.5rem;
      }
    }

    &__img {
      width: 230px;
      height: 450px;

      @include respond(small-desktop) {
        width: 200px;
        height: 400px;
      }

      @include respond(tab-port) {
        width: 170px;
        height: 330px;
      }

      @include respond(small-tab-port) {
        width: 150px;
        height: 300px;
      }

      @include respond(ipad) {
        width: 130px;
        height: 250px;
      }

      @media(max-width:550px) {
        width: 120px;
        height: 220px;
      }

      @include respond(iphoneXR) {
        width: 130px;
        height: 230px;
      }

      @include respond(iphoneSE) {
        width: 120px;
        height: 210px;
      }

      &:nth-child(2n) {
        margin-left: -5px;
        margin-right: 10px;

        @media(max-width:650px) {
          margin-left: 0;
          margin-right: 0;
          margin-top: .5rem;
        }
      }
    }
  }

  .backBtn {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    border: 0;
    width: 6rem;
    height: 2.5rem;
    color: white;
    font-size: 18px;
    font-weight: 500;
    min-width: 80px;
    margin-right: .5rem;

    @include respond(desktop) {
      width: 4.5rem;
      height: 2.5rem;
      font-size: 15px;
      margin-left: -2rem;
    }

    @include respond(ipad) {
      min-width: 70px;
      width: 3.5rem;
      height: 2.5rem;
      font-size: 14px;
    }

    @media(max-width:500px) {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background: rgba(184, 182, 182, 0.5);
    }
  }
}

.description {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include respond(iphoneXR) {
    justify-content: flex-start;
  }

  &>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: .3rem;

    @include respond(desktop) {
      min-width: 150px;
    }

    @include respond(ipad) {
      min-width: 121px;
    }

    span {
      @include respond(tab-port) {
        font-size: 14px;
      }

      @include respond(iphoneXR) {
        font-size: 15px;
      }
    }

    img {
      width: 80px;
      height: 80px;
      margin-right: 10px;

      @include respond(desktop) {
        width: 60px;
        height: 60px;
      }

      @include respond(tab-port) {
        width: 50px;
        height: 50px;
      }

      @include respond(ipad) {
        width: 45px;
        height: 45px;
      }

      @include respond(iphoneXR) {
        width: 50px;
        height: 50px;
      }
    }
  }
}